// mixins
.list-reset {
  padding: 0%;
  margin: 0%;
  list-style: none;
}

.font-mixin(@fz: 24px; @ln: 120%) {
  font-size: @fz;
  line-height: @ln;
}

.font-family-mixin {
  font-family: "Open Sans", sans-serif;
}

