// mixins
.list-reset {
  padding: 0;
  margin: 0;
  list-style: none;
}

.set-font(@font-size: 24px; @line-height: 120%) {
  font-size: @font-size;
  line-height: @line-height;
}

.font-family-mixin {
  font-family: "Open Sans", sans-serif;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
}
