// mixins
.list-reset {
  padding: 0;
  margin: 0;
  list-style: none;
}

.set-font(@font-size: 24px; @line-height: 120%) {
  font-size: @font-size;
  line-height: @line-height;
}

.font-family-mixin {
  font-family: "Open Sans", sans-serif;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
}

.padding-mobile {
  padding-left: 20px;
  padding-right: 20px;
}

.padding-tablet {
  padding-left: 20px;
  padding-right: 20px;

  @media (max-width: @mobile-width-only) {
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
  }
}

.padding-desktop {
  padding-left: 130px;
  padding-right: 130px;
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: @tablet-width - 1;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    max-width: @desktop-width - 1;
  }

  @media (min-width: @desktop-width) {
    max-width: @desktop-width;
  }
}

body .display-on {
  display: flex;
}
