.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts__title {
  color: @base-text-color;
  text-align: center;
}

.contacts__list {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: row;
  }
}

.contacts__location {
  grid-column: 1 / -1;
  margin: auto;
}

.contacts__call {
  font-weight: bold;
  color: @base-text-color;
  .font-family-mixin;
  .set-font(18px, 25px);
}

.contacts__number {
  .font-family-mixin;
  .set-font(24px, 33px);
  color: @base-text-red;
}

.contacts__email {
  font-weight: bold;
  color: @base-text-color;
  .font-family-mixin;
  .set-font(18px, 25px);
}

.contacts__html {
  .font-family-mixin;
  .set-font(24px, 33px);
  color: @base-text-red;
}

.contacts__guests {
  font-weight: bold;
  color: @base-text-color;
  .font-family-mixin;
  .set-font(18px, 25px);
}

.contacts__address {
  .font-family-mixin;
  .set-font(24px, 33px);
  color: @base-text-red;
}
