.contest {
  min-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../../img/back-mobile.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100% 430px;
}

.contest__title {
  margin-top: 160px;
  margin-bottom: 328px;
}

.contest__text {
  .set-font(14px; 30px);
}
