.contest {
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../../img/back-mobile.jpg");
  background-repeat: no-repeat;
}

.contest__title {
  margin-top: 132px;
  margin-bottom: 264px;
}

.contest__text {
  .set-font(14px; 30px);
}
