.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.contacts__wrapper {
  @media (min-width: @desktop-width) {
    width: 100%;
    min-height: 287px;
  }
}

.contacts__title {
  color: @base-text-color;
  text-align: center;

  @media (max-width: @mobile-width-only) {
    margin-top: 40px;
  }

  @media (min-width: @tablet-width) and (max-width: 1199px) {
    max-width: 477px;
    margin: 12px auto;
  }

  @media (min-width: @desktop-width) {
    max-width: 670px;
    margin: 0 auto;
  }
}

.contacts__list {
  .list-reset;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: @mobile-width-only) {
    margin-top: 30px;
    min-height: 245px;
  }

  @media (min-width: @tablet-width) and (max-width: 1199px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 34px;
    min-width: 659px;
  }

  @media (min-width: @desktop-width) {
    max-width: 880px;
    margin: 0 auto;
    margin-top: 41px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 24px 81px;
  }
}

.contacts__wrapper::after {
  content: "";
  position: absolute;
  top: 321px;
  left: 0;
  background-size: contain;

  @media (max-width: @mobile-width-only) {
    background-image: url("../../img/triangle-white-footer.png");
    min-height: 246px;
    z-index: 1;
    width: 100%;
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/triangle-white-footer@2x.png");
    }
  }

  @media (min-width: @tablet-width) and (max-width: 1199px) {
    background-image: url("../../img/triangle-white-footer-tablet.png");
    min-height: 246px;
    z-index: 1;
    width: 100%;
    background-repeat: no-repeat;
    top: 246px;
  }

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/triangle-white-footer-tablet@2x.png");
    top: 246px;
  }

  @media (min-width: @desktop-width) {
    top: 286px;
    background-image: url("../../img/triangle-white-footer-desktop.png");
    min-height: 246px;
    z-index: 1;
    width: 100%;
    background-repeat: no-repeat;
  }

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/triangle-white-footer-desktop@2x.png");
  }
}

.contacts__phone {
  @media (min-width: @tablet-width) and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    order: 1;
  }
}

.contacts__call {
  font-weight: bold;
  color: @base-text-color;
  .font-family-mixin;
  .set-font(18px, 25px);

  @media (min-width: @desktop-width) {
    grid-column: 1 / 2;
    .set-font(19px, 25px);
    margin-left: 76px;
  }

  @media (min-width: @tablet-width) and (max-width: 1199px) {
    margin-left: 14px;
    margin-bottom: 2px;
    letter-spacing: 0.9px;
  }

  @media (max-width: @mobile-width-only) {
    margin-left: 5px;
    letter-spacing: 0.8px;
  }
}

.contacts__call-container {
  @media (min-width: @desktop-width) {
    grid-row: 2 / 3;
    margin-left: 18px;
    margin-top: -9px;
  }

  @media (max-width: @mobile-width-only) {
    margin-left: 32px;
    margin-top: 1px;
  }
}

.contacts__post {
  @media (max-width: @mobile-width-only) {
    margin-top: 16px;
  }

  @media (min-width: @tablet-width) and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    order: 3;
  }
}

.contacts__location {
  margin: auto;

  @media (max-width: @mobile-width-only) {
    margin-top: 22px;
  }

  @media (min-width: @tablet-width) and (max-width: 1199px) {
    grid-column: 1 / -1;
    margin-top: 42px;
  }

  @media (min-width: @desktop-width) {
    order: 2;
  }
}

.contacts__number {
  .font-family-mixin;
  .set-font(24px, 33px);
  color: @base-text-red;
  max-width: 250px;

  @media (max-width: @mobile-width-only) {
    margin-left: -39px;
  }

  @media (min-width: @tablet-width) and (max-width: 1199px) {
    margin-left: 10px;
    letter-spacing: -0.2px;
  }

  &:hover {
    color: @base-text-color;
  }

  &:active {
    color: @base-text-color;
    opacity: 0.3;
  }
}

.contacts__email {
  font-weight: bold;
  color: @base-text-color;
  .font-family-mixin;
  .set-font(18px, 25px);
  max-width: 250px;

  @media (max-width: @mobile-width-only) {
    margin-left: 8px;
    letter-spacing: 1.5px;
    margin-top: 17px;
  }

  @media (min-width: @tablet-width) and (max-width: 1199px) {
    margin-left: -6px;
    letter-spacing: 1.4px;
  }

  @media (min-width: @desktop-width) {
    .set-font(20px, 25px);
    margin-left: 132px;
  }
}

.contacts__email-container {
  @media (min-width: @desktop-width) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    margin-left: 52px;
  }

  @media (max-width: @mobile-width-only) {
    margin-left: 3px;
  }
}

.contacts__html {
  .font-family-mixin;
  .set-font(24px, 33px);
  color: @base-text-red;

  @media (min-width: @tablet-width) and (max-width: 1199px) {
    margin-left: -11px;
  }

  &:hover {
    color: @base-text-color;
  }

  &:active {
    color: @base-text-color;
    opacity: 0.3;
  }
}

.contacts__guests {
  font-weight: bold;
  color: @base-text-color;
  .font-family-mixin;
  .set-font(18px, 25px);
  max-width: 250px;

  @media (max-width: @mobile-width-only) {
    letter-spacing: 1px;
    margin-left: 6px;
    margin-top: 20px;
  }

  @media (min-width: @tablet-width) and (max-width: 1199px) {
    margin-left: 2px;
    margin-bottom: 4px;
    .set-font(20px, 25px);
  }

  @media (min-width: @desktop-width) {
    .set-font(20px, 25px);
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin-left: 48px;
  }
}

.contacts__adress {
  max-width: 250px;

  @media (max-width: @mobile-width-only) {
    margin-left: 2px;
    letter-spacing: 0.6px;
  }

  @media (min-width: @desktop-width) {
    letter-spacing: 0.8px;
  }

  &:hover {
    color: @base-text-color;
  }

  &:active {
    color: @base-text-color;
    opacity: 0.3;
  }
}

.contacts__adress-container {
  @media (min-width: @desktop-width) {
    margin-top: 24px;
    margin-left: 21px;
  }
}

.contacts__number--condition {
  &:hover {
    color: @base-text-color;
    text-decoration: underline;
  }

  &:active {
    color: rgba(40, 54, 69, 0.3);
  }
}

.contacts__html--condition {
  &:hover {
    color: @base-text-color;
    text-decoration: underline;
  }

  &:active {
    color: rgba(40, 54, 69, 0.3);
  }
}

.contacts__adress--condition {
  &:hover {
    color: @base-text-color;
    text-decoration: underline;
  }

  &:active {
    color: rgba(40, 54, 69, 0.3);
  }
}
