.error {
  .list-reset;
  .font-family-mixin;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 290px;
}

.error__title {
  color: @base-color-black;
  .list-reset;
  .set-font(18px; 24px);
}

.error__text {
  .list-reset;
  .set-font(14px; 24px);
  text-align: center;
}
