.footer {
  .list-reset;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-around;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
  }
}

.footer__links {
  .list-reset;
  list-style-type: none;
  display: flex;
}

.copyright-link__text {
  color: @base-text-color;
  .font-family-mixin;
  .set-font(14px, 18px);
}
