.footer {
  .list-reset;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__links {
  list-style-type: none;
}

.copyright-link__text {
  color: @base-text-color;
  .font-family-mixin;
  .set-font(14px, 18px);
}
