.form {
  .list-reset;
  .font-family-mixin;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__fieldset {
  .list-reset;
  margin: 20px;
  border: none;
}

.form__list {
  background-color: @secondary-bg-color;
  .list-reset;
  list-style-type: none;
}

.form__info {
  .font-mixin(14px; 30px);
  text-transform: uppercase;
}

.form__input {
  .list-reset;
  .font-mixin(18px; 30px);
}

.form__title {
  .list-reset;
  .font-mixin(14px; 30px);
  color: @base-text-red;
  text-transform: uppercase;
}

.form__label {
  .list-reset;
  .font-mixin(18px; 30px);
}

.form__comment {
  display: flex;
  flex-direction: column;
  align-items: center;
}
