.info {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.info__container {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: @tablet-width) {
    display: flex;
  }

  @media (min-width: @desktop-width) {
    display: flex;
  }
}

.info__title {
  color: @base-text-color;
  padding: 46px 20px 70px 20px;
  background-color: @base-text-white;
}

.info__list-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../../img/grey\ background.png");

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row-reverse;
  }

  @media (min-width: @desktop-width) {
    flex-direction: column;
  }
}

.info-list {
  .list-reset;
  padding: 20px;
  max-width: 320px;
}

.info-list__item {
  list-style-type: none;
}

.info-list__title {
  .list-reset;
  .font-family-mixin;
  .set-font(18px; 24px);
}

.info-list__description {
  .list-reset;
  .set-font(14px; 24px);
}

.info__wrapper-phone {
  display: flex;
}


.info__wrapper-screen:not(:nth-of-type(1)) {
  display: none;

  @media (min-width: @desktop-width) {
    display: flex;
  }
}
