.info {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.info__container {
  display: flex;
  flex-direction: column;
  min-width: 100%;

  @media (max-width: @mobile-width-only) {
    background-image: url("../../img/grey-background-mobile.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 154px;
    margin-top: -4px;
  }

  @media (min-width: @tablet-width) {
    display: flex;
  }

  @media (min-width: @desktop-width) {
    display: flex;
  }
}

.info__title {
  color: @base-text-color;
  background-color: @base-text-white;
  text-align: center;

  @media (max-width: @mobile-width-only) {
    background-color: transparent;

    &:first-child {
      margin-top: 40px;
      margin-bottom: 22px;
    }
  }

  @media (min-width: @tablet-width) and (max-width: 1199px) {
    &:first-of-type {
      margin-top: 47px;
      letter-spacing: 0.2px;
    }

    &:nth-of-type(2) {
      max-width: 580px;
      margin: 0 auto;
    }
  }

  @media (min-width: @desktop-width) {
    &:first-of-type {
      margin-top: 63px;
    }

    &:last-of-type {
      margin: 0 auto;
      max-width: 460px;
    }
  }
}

.info__list-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-position: 0 6px;
  background-repeat: no-repeat;
  background-size: cover;

  @media (max-width: @mobile-width-only) {
    margin-top: 110px;
  }

  @media (min-width: @tablet-width) {
    background-image: url("../../img/grey-background-tablet.png");
    background-position: 0 6px;
    display: flex;
    flex-direction: row-reverse;
    .padding-tablet;


    @media (min-resolution: 2dppx) {
      background-image: url("../../img/grey-background-tablet@2x.png");
      background-position: 0 6px;
    }
  }

  @media (min-width: @desktop-width) {
    flex-direction: column;
    .padding-desktop;
    margin-top: 40px;
    background-image: url("../../img/grey-background-desktop.png");
    background-position: 0 10px;
  }
}

.info__list-container {
  width: 100%;
}

.info__effect {
  @media (min-width: @tablet-width) and (max-width: 1199px) {
    .padding-tablet;
    margin-top: -66px;
    background-color: @base-bg-color;
  }

  @media (min-width: @desktop-width) {
    .padding-desktop;
    min-height: 350px;
    margin-top: -62px;
  }
}


.info__wrapper-phone {
  display: flex;

  @media (min-width: @desktop-width) {
    width: 100%;
    justify-content: space-around;
  }

  @media (min-width: @desktop-width) {
    margin-top: 16px;
  }
}

.info__wrapper {
  max-width: 320px;
  min-height: 374px;

  @media (max-width: @mobile-width-only) {
    margin-right: 46px;
  }

  @media (min-width: @tablet-width) and (max-width: 1199px) {
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    min-width: 100%;
    margin-top: -81px;
    background-color: @secondary-bg-color;
  }
}

.info__wrapper-screen {
  display: none;

  @media (min-width: @desktop-width) {
    display: flex;
  }
}

.info__img-wrapper {
  @media (min-width: @tablet-width) and (max-width: 1199px) {
    margin-top: 34px;
  }
}

.info__screen-wrapper {
  @media (min-width: @desktop-width) {
    margin: 0 13px;
  }
}
