.info {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.info__container {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    display: flex;
  }

  @media (min-width: @desktop-width) {
    display: flex;
  }
}

.info__title {
  color: @base-text-color;
  padding: 46px 20px 70px 20px;
  background-color: @base-text-white;
  text-align: center;
}

.info__list-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-image: url("../../img/grey\ background.png");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row-reverse;
    .padding-tablet;
  }

  @media (min-width: @desktop-width) {
    flex-direction: column;
    .padding-desktop;
  }
}

.info__effect {
  @media (min-width: @tablet-width) {
    .padding-tablet;
  }

  @media (min-width: @desktop-width) {
    .padding-desktop;
  }
}

.info-list {
  .list-reset;
  max-width: 320px;

  @media (min-width: @desktop-width) {
    max-width: 100%;
  }
}

.info-list__item {
  list-style-type: none;

  @media (max-width: @mobile-width-only) {
    text-align: center;
  }

  @media (min-width: @desktop-width) {
    text-align: center;
  }
}

.info-list__title {
  .list-reset;
  .font-family-mixin;
  .set-font(18px; 24px);
}

.info-list__description {
  .list-reset;
  .set-font(14px; 24px);
}

.info__wrapper-phone {
  display: flex;

  @media (min-width: @desktop-width) {
    width: 100%;
    justify-content: space-around;
  }
}


.info__wrapper-screen:not(:nth-of-type(1)) {
  display: none;

  @media (min-width: @desktop-width) {
    display: flex;
  }
}

