.intro {
  background-color: @base-bg-dark-blue;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-image: url("../../img/phone-desktop.png"), url("../../img/back-desktop.jpg");
    background-position: 97% 208px, 0 0;
    background-size: 1050px, cover;
    background-repeat: no-repeat;
    padding: 0 130px;
    min-height: 853px;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/phone-desktop@2x.png"), url("../../img/back-desktop@2x.jpg");
      background-position: 100% 208px, 0 0;
      background-size: 1050px, cover;
      background-repeat: no-repeat;
    }
  }

  @media (min-width: @tablet-width) and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    min-height: 545px;
    background-image: url("../../img/phone-tablet.png"), url("../../img/back\ tablet.jpg");
    background-position: 105% 230px, 0 0;
    background-repeat: no-repeat;
    background-size: 370px, cover;
    padding: 0 20px;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/phone-tablet@2x.png"), url("../../img/back\ tablet@2x.jpg");
      background-position: 100% 200px, 0 0;
    }
  }

  @media (max-width: @mobile-width-only) {
    background-image: url("../../img/phone.png"), url("../../img/back-mobile.jpg");
    background-position: 50% 230px, 0 0;
    background-size: 370px, cover;
    background-repeat: no-repeat;
    min-height: 733px;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/phone@2x.png"), url("../../img/back-mobile@2x.jpg");
      background-position: 50% 230px, 0 0;
      background-size: 370px, cover;
    }
  }
}

.intro__title {
  .font-family-mixin;
  .set-font;
  margin-top: 30px;
  font-weight: lighter;

  @media (max-width: @mobile-width-only) {
    margin-top: 155px;
    margin-bottom: 356px;
  }

  @media (min-width: @tablet-width) {
    .set-font(40px; 120%);
    margin-bottom: 40px;
  }

  @media (min-width: @desktop-width) {
    .set-font(50px; auto);
  }
}

.intro__links {
  .list-reset;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  @media (min-width: @tablet-width) {
    margin-bottom: 40px;
  }
}

.intro__link {
  min-width: 193px;
  margin-bottom: 20px;
  grid-column: 1 / -1;
}

.intro__app {
  grid-row: 2 / 3;
}

.intro__desc {
  margin: 0;
  padding: 0;
  .font-family-mixin;
  .set-font(14px; 24px);
  font-weight: normal;
  color: @base-text-white;

  @media (min-width: @tablet-width) {
    .set-font(18px; 24px);
  }

  @media (min-width: @desktop-width) {
    .set-font(18px; 24px);
  }
}
