.link {
  .list-reset;
  .set-font(18px; 18px);
  .font-family-mixin;
  display: block;
  text-align: center;
  font-weight: bold;
  color: @base-text-white;
  border: 3px solid #ffffff;
  box-sizing: border-box;
  border-radius: 30px;
  padding: 15px;
  width: 280px;

  @media (min-width: @desktop-width) {
    min-width: 300px;
    .set-font(21px; 18px);
  }

  @media (min-width: @tablet-width) and (max-width: 1199px) {
    min-width: 300px;
  }
}

.link:hover {
  color: @base-text-red;
  background-color: @base-bg-color;
}

.link:active {
  background-color: @base-bg-color;
  color: rgba(210, 40, 86, 0.3);
}
