.main-nav {
  background-color: rgba(40, 54, 69, 0.7);
  color: @base-text-white;
  min-height: 66px;
  width: 100%;
  align-items: center;
  display: flex;
  box-sizing: border-box;
  position: absolute;
  top: 1px;

  @media (max-width: @mobile-width-only) {
    justify-content: space-between;
    padding: 0 20px;
  }

  @media (min-width: @tablet-width) and (max-width: 1199px) {
    .padding-tablet;
    min-height: 108px;
    justify-content: center;
  }

  @media (min-width: @desktop-width) {
    .padding-desktop;
    min-height: 110px;
    justify-content: center;
  }
}

.main-nav .main-nav__toggle {
  @media (min-width: @desktop-width) {
    display: none;
  }
}

.main-nav--closed {
  @media (min-width: @tablet-width) and (max-width: 1199px) {
    flex-direction: row;
  }
}

.main-nav--opened {
  .main-nav__list {
    display: flex;
    background-color: @base-text-color;
    flex-direction: column;
    .list-reset;
    position: absolute;
    top: 100%;
    left: 0;
    list-style-type: none;
    .font-family-mixin;
    .set-font(18px; 32px);
    order: 2;
    // display: none;
    width: 100%;
  }

  // .main-nav__toggle {
  //   //задать кнопке фоном крестик
  // }
}

.main-nav--closed .main-nav__toggle {
  @media (max-width: @mobile-width-only) {
    top: -11px;
    left: 5px;
  }

  @media (min-width: @tablet-width) and (max-width: 1199px) {
    margin: 0;
    margin-left: auto;
    top: -11px;
    right: -4px;
  }
}

.main-nav--closed .main-nav__list {
  display: none;

  @media (min-width: @desktop-width) {
    display: flex;
  }
}

.main-nav--no-js {
  background-color: @base-text-color;
  flex-direction: column;

  .main-nav__list {
    position: relative;
    display: flex;
  }

  .main-nav__toggle {
    display: none;
  }
}

.main-nav--no-js .user-list__logo {
  display: flex;
  align-items: center;
  margin: auto;
  min-height: 65px;
}

.main-nav__list {
  .list-reset;
  list-style-type: none;
  .font-family-mixin;
  .set-font(18px; 32px);
  order: 2;
  // display: none;
  width: 100%;
}


.main-nav__toggle {
  position: relative;
  z-index: 5;
  background-color: transparent;
  cursor: pointer;
  border: none;
  display: flex;

  @media (min-width: @tablet-width) and (max-width: 1199px) {
    top: -24px;
    right: 55px;
  }

  &::before {
    content: "";
    width: 48px;
    height: 3px;
    background-color: #ffffff;
    box-shadow: 0 9px 0 0 #ffffff, 0 19px 0 0 #ffffff;

    @media (min-width: @tablet-width) and (max-width: 1199px) {
      top: 36px;
      left: 17px;
    }

    @media (min-width: @desktop-width) {
      display: none;
    }
  }
}

.main-nav__toggle:hover::before {
  background-color: #d22856;
  box-shadow: 0 9px 0 0 #d22856, 0 19px 0 0 #d22856;
}

.main-nav__toggle:active::before {
  background-color: #d22856;
  box-shadow: 0 9px 0 0 #d22856, 0 19px 0 0 #d22856;
  opacity: 0.3;
}

.main-nav--opened .main-nav__toggle {
  transform: rotate(90deg);

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 27px;
    left: 39px;
    width: 31px;
    height: 2px;
    background-color: #ffffff;

    @media (max-width: @mobile-width-only) {
      margin: 0;
      top: 6px;
      left: -9px;
      order: 2;
    }

    @media (min-width: @tablet-width) and (max-width: 1199px) {
      top: -281px;
      left: 14px;
    }
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover::before,
  &:hover::after {
    background-color: #d22856;
  }

  &:active::before,
  &:active::after {
    background-color: #d22856;
    opacity: 0.3;
  }
}
// @media (max-width: 1199px) {
//   .main-nav--closed .site-list__item {
//     display: none;
//   }

//   .main-nav--closed .user-list__item {
//     display: none;
//   }
// }

.main-nav__toggle:hover {
  color: @base-text-red;
}

.main-nav__toggle:active {
  color: rgba(255, 255, 255, 0.3);
}

.main-nav__link:hover {
  color: @base-text-red;
}

.main-nav__link:active {
  @media (max-width: 1199px) {
    color: rgba(210, 40, 86, 1);
  }

  @media (min-width: @desktop-width) {
    color: rgba(255, 255, 255, 0.3);
  }
}

.main-nav__link--current::before {
  @media (min-width: @desktop-width) {
    position: absolute;
    right: -3px;
    bottom: -5px;
    left: -3px;
    height: 2px;
    background-color: #ffffff;
    content: "";
  }
}

.main-nav--js {
  background-color: @base-text-color;
}
