.main {
  background-color: @base-bg-color;
}

.main__cointainer {
  margin: auto;
  margin-top: -142px;

  @media (min-width: @tablet-width) {
    padding: 0 20px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 130px;
  }
}
