.main-nav {
  background-image: url("../../img/nav-background.png");
  color: @base-text-white;
  width: 320px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.main-nav__list {
  .list-reset;
  list-style-type: none;
  .font-family-mixin;
  .font-mixin(18px; 32px);
}

.main-nav__toggle {
  margin-left: auto;
}
