.price {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: @mobile-width-only) {
    background-image: url("../../img/grey-background.png");
    background-position: 0 1px;
  }

  @media (min-width: @tablet-width) and (max-width: 1199px) {
    background-image: url("../../img/grey-background-cell.png"), url("../../img/grey-background-tablet@2x.png");
    box-sizing: border-box;
  }

  @media (min-width: @desktop-width) {
    min-height: 544px;
  }
}

.price__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.price__container {
  width: 100%;
  overflow: auto;
  margin-top: 34px;

  @media (min-width: @tablet-width) and (max-width: 1199px) {
    justify-content: center;
    margin-top: 54px;
  }

  @media (min-width: @desktop-width) {
    justify-content: center;
  }
}

.price__table {
  border-spacing: 0 px;
  border-collapse: collapse;
  margin-top: 100px;

  @media (min-width: @desktop-width) {
    margin-top: 132px;
  }

  @media (min-width: @tablet-width) and (max-width: 1199px) {
    margin-top: 57px;
  }
}

.price__body {
  @media (max-width: @mobile-width-only) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  @media (min-width: @tablet-width) and (max-width: 1199px) {
    max-width: 620px;
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: @desktop-width) {
    max-width: 943px;
    display: flex;
    flex-wrap: wrap;
  }
}

.price__head {
  display: grid;
}

.price__row {
  @media (max-width: @mobile-width-only) {
    display: flex;

    &:first-child {
      grid-row: 1 / 2;
    }

    &:nth-child(2) {
      grid-row: 2 / 3;
    }

    &:nth-child(3) {
      grid-row: 3 / 4;
    }
  }

  @media (min-width: @tablet-width) and (max-width: 1199px) {
    display: flex;
  }

  @media (min-width: @desktop-width) {
    display: flex;
  }
}

.price__head .price__row {
  @media (min-width: @tablet-width) and (max-width: 1199px) {
    display: grid;
    grid-template-columns: 154px 155px 155px 156px;
  }
}

.price__title {
  box-sizing: border-box;
  background-color: @base-text-color;
  border: 1px solid #e5e5e5;
  text-align: center;

  @media (min-width: @desktop-width) {
    min-width: 236px;
    min-height: 100px;
  }

  @media (min-width: @tablet-width) and (max-width: 1199px) {
    min-width: 155px;
    min-height: 81px;
  }

  @media (max-width: @mobile-width-only) {
    min-width: 276px;
    min-height: 101px;
  }
}

.price__title--standart {
  background-image: url("../../img/hit.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 60px;

  @media (min-width: @desktop-width) {
    background-size: 74px;
  }
}

.price__name {
  .list-reset;

  @media (min-width: @tablet-width) and (max-width: 1199px) {
    margin-top: 2px;
  }

  @media (min-width: @desktop-width) {
    .set-font(18px; 30px);
  }
}

.price__cost {
  .list-reset;
  .font-family-mixin;
  .set-font(16px; 30px);
  font-weight: lighter;

  @media (min-width: @desktop-width) {
    .set-font(24px; 30px);
  }
}

.price__option {
  box-sizing: border-box;
  min-width: 276px;
  min-height: 59px;
  .list-reset;
  .font-family-mixin;
  .set-font(14px; 30px);
  text-transform: uppercase;
  color: @base-text-color;
  border: 1px solid #e5e5e5;
  border-radius: 1px;
  display: flex;

  @media (min-width: @desktop-width) {
    min-width: 235px;
    min-height: 60px;
    justify-content: center;
    align-items: center;

    &:first-child {
      .set-font(15px; 30px);
      text-transform: uppercase;
      justify-content: start;
      padding-left: 20px;
      letter-spacing: 0.6px;
    }
  }

  @media (max-width: @mobile-width-only) {
    width: 276px;
    justify-content: space-between;
    align-items: center;
    padding: 0 18px;


    &:first-child {
      display: none;
    }
  }

  @media (min-width: @tablet-width) and (max-width: 1199px) {
    min-width: 155px;
    min-height: 46px;
    text-transform: capitalize;
    justify-content: center;
    align-items: center;

    &:first-child {
      justify-content: start;
      padding-left: 15px;
      letter-spacing: 0.6px;
    }
  }
}

.price__option-name {
  @media (max-width: @mobile-width-only) {
    margin-right: 42px;
  }

  @media (min-width: @tablet-width) and (max-width: 1199px) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.price__toggles {
  margin-top: 38px;
  margin-bottom: 46px;

  @media (min-width: @tablet-width) and (max-width: 1199px) {
    margin-top: 38px;
    margin-bottom: 12px;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}
