.reviews {
  text-align: center;

  @media (min-width: @tablet-width) and (max-width: 1199px) {
    max-width: @mobile-width-only;
  }

  @media (min-width: @desktop-width) {
    .padding-desktop;
    display: flex;
    flex-direction: column-reverse;
  }
}

.reviews__wrapper {
  @media (min-width: @desktop-width) {
    margin: 0 auto;
    min-width: 100%;
  }
}

.reviews__item {
  .list-reset;
  letter-spacing: 0.4px;

  @media (max-width: @mobile-width-only) {
    padding-top: 43px;
  }

  @media (min-width: @tablet-width) and (max-width: 1199px) {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: column-reverse;
    order: 2;
    align-items: center;
    justify-content: flex-end;
  }
}

.reviews__author-info {
  margin-top: 103px;

  @media (min-width: @desktop-width) {
    margin-top: 73px;
    min-height: 322px;
  }

  @media (min-width: @tablet-width) and (max-width: 1199px) {
    margin-top: 147px;
  }
}

.reviews__author-name {
  .list-reset;
  .font-family-mixin;
  .set-font(18px; 30px);
  font-style: normal;
  font-weight: bold;
  text-align: center;

  @media (min-width: @tablet-width) and (max-width: 1199px) {
    .set-font(20px; 30px);
    margin-top: 34px;
    letter-spacing: 1px;
    order: 2;
  }

  @media (min-width: @desktop-width) {
    order: 2;
    .set-font(25px; 30px);
    margin-top: 35px;
  }
}

.reviews__text {
  .list-reset;
  .font-family-mixin;
  .set-font(14px; 30px);

  @media (min-width: @desktop-width) {
    .set-font(18px; 30px);
    order: 3;
    margin-top: 51px;
    max-width: 700px;
    letter-spacing: 0.6px;
  }

  @media (min-width: @tablet-width) and (max-width: 1199px) {
    .set-font(18px; 30px);
    min-width: 630px;
    letter-spacing: 0.5px;
    order: 3;
  }

  @media (max-width: @mobile-width-only) {
    margin-top: 12px;
  }
}

.reviews__author-details {
  display: none;
  .list-reset;

  @media (min-width: @desktop-width) {
    display: block;
    order: 1;
    .set-font(18px; 30px);
  }

  @media (min-width: @tablet-width) and (max-width: 1199px) {
    display: block;
    order: 1;
    margin-top: 6px;
  }
}

.reviews__text br {
  @media (min-width: @desktop-width) {
    display: none;
  }

  @media (min-width: @tablet-width) and (max-width: 1199px) {
    display: none;
  }
}

.reviews__toggles {
  margin-top: 4px;
  padding: 20px;

  @media (min-width: @tablet-width) and (max-width: 1199px) {
    margin-top: 15px;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.reviews__quote {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
    order: 4;
  }
}

.reviews__prev {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
    order: 1;
    background-color: transparent;
    border: none;
    padding: 0;
  }
}

.reviews__button-prev {
  &:hover {
    color: @base-text-color;
  }

  &:active {
    color: @base-text-color;
    opacity: 0.1;
  }
}

.reviews__button-next {
  &:hover {
    color: @base-text-color;
  }

  &:active {
    color: @base-text-color;
    opacity: 0.1;
  }
}


.reviews__next {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
    order: 3;
    transform: rotate(180deg);
    background-color: transparent;
    border: none;
    padding: 0;
  }
}
