.reviews {
  .list-reset;
  margin: auto;
  max-width: 320px;
  text-align: center;

  @media (min-width: @tablet-width) {
    max-width: @mobile-width-only;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: column-reverse;
  }
}

.reviews__item {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column-reverse;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: column-reverse;
  }
}

.reviews__author-name {
  .list-reset;
  .font-family-mixin;
  .set-font(18px; 30px);
  font-style: normal;
  font-weight: bold;
  text-align: center;
}

.reviews__text {
  .list-reset;
  .font-family-mixin;
  .set-font(14px; 30px);
}

.reviews__toggles {
  padding: 20px;
}
